*.o
*.so
*.a
sample_program
library.so.*
dynamic_program
*/*.o
*/*.a
*/*.so
*/*.s
*/helloWorld
2_staticLibraries/staticProgram
3_dynamicLibraries/dynamicProgram
3_dynamicLibraries/runtimeLoader
4_libraryVersioning/dynamicProgram
4_libraryVersioning/runtimeLoader
.vscode
4_libraryVersioning/dynamicProgram1
4_libraryVersioning/dynamicProgram2
4_libraryVersioning/libsamplelibrary.so.1
4_libraryVersioning/libsamplelibrary.so.1.0
4_libraryVersioning/libsamplelibrary.so.1.0.2
4_libraryVersioning/libsamplelibrary.so.2
4_libraryVersioning/libsamplelibrary.so.2.1
4_libraryVersioning/libsamplelibrary.so.2.1.0
