*.o
*.so
*.a
sample_program
library.so.*
dynamic_program
*/*.o
*/*.a
*/*.so
*/*.s
*/helloWorld
2_staticLibraries/staticProgram
3_dynamicLibraries/dynamicProgram
3_dynamicLibraries/runtimeLoader
4_libraryVersioning/dynamicProgram
4_libraryVersioning/runtimeLoader
.vscode
